.container {
  margin: 40px auto;
  padding: 0 16px;
}

.toggle {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  background-color: #e0e1e34f;
  padding: 5px;
  border-radius: 14px;
}

.toggle button {
  background-color: unset;
  color: rgb(142, 140, 140);
  font-weight: 600;
  border-radius: 15px;
  padding: 8px 30px;
}

.toggle button.active {
  background-color: #2563eb;
  color: white;
  outline: unset;
}

.toggle button:hover {
  border: unset;
}

.dropdown {
  padding: 12px;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 2px 12px #33333314;
}

.dropdown:focus {
  outline: none;
}

.dropdown option {
  padding: 30px;
  font-weight: 600;
}

.cards {
  list-style: none;
  padding: 0;
}

.cards_item {
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 12px #33333314;
}

.cards_item p {
  margin: 0;
}

.cards_item .count {
  color: rgb(142, 140, 140);
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.count {
  position: relative;
}

.count::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: rgb(142, 140, 140);
  border-radius: 50%;
}

.nostrategy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.nostrategy p {
  margin: 0 0 15px 0;
}
